body, html { font-size: 100%; padding: 0; margin: 0;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fce3ad;
    background: #fff;
    font-size: 1em/16px;
    /*background: url(../images/texture.jpg);*/
    background-color: #fff;
    z-index: 2;
}
/*body::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(12,12,12,0.25);
	z-index: 1;
}*/
.bl-expand-item-parent .togglecontainer {
	z-index: 11;
}
.bl-expand-item-parent .bl-expand-top {
	z-index: 12;
}
.togglecontainer {
	position: absolute;
	right: 0;
	top: 0;
	width: 0px;
	height: 0px;
	z-index: 10;
	border: 50px solid #7f1313;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.togglecontainer span {
	top: -35px;
	right: -35px;
	position: absolute;
	font-size: 25px;
	cursor: pointer;
	color: #ffb61a;	
}
.togglecontainer span i {
	transition: all 1s ease;
	position: relative;
}
.full-width {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
}
#bl-main {
	z-index: 3;
}
#kat-container .bl-content p {
	color: #fce3ad;
}
blockquote {
    background: #ffb61a;
    border-left: 10px solid #fce3ad;
    margin: 2em 0px;
    padding: 1em 50px;
    position: relative;
}
blockquote p {
	color: #fff !important;
    font-size: 20px !important;
}
blockquote:before {
    color: #fff;
    content: open-quote;
    font-size: 4em;
    line-height: 0.5em;
    position: absolute;
    left: 10px;
    margin: 0;
    padding: 0;
    top: 10px;
}
blockquote .author {
    text-align: right;
    color: #fcdfa2 !important;
    font-size: 15px !important;
    font-style: italic;
}
.contact-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.contact-container > div {
    padding: 40px 20px;
    width: 33.33%;
    background-color: #ffb61a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #7f1313;
}
.contact-container::after {
	content: '';
	flex: auto;
}
.icon {
	font-size: 60px;
    color: #7f1313;
}
.map {
	margin-top: 20px;
	float: left;
	width: 100%;
}
.label, .label a {
	color: #7f1313;
	font-weight: bold;
	text-shadow: 1px 1px #ffb61a;
	margin-top: 20px;
}
.label a:hover {
	color: #7f1313;
}
section.bl-expand .bl-content p + h5 {
	margin-top: 20px;
}
.container h2, .container h5, .container p {
	margin: 0;
    padding: 0;
    color: #ffb61a;
    transition: all 1s ease;
    opacity: 1;
    text-transform: lowercase;
}
.container .kat-icon {
	font-family: 'Monoton', cursive;
    font-size: 2.5em;
    background-color: #7f1313;
    color: #ffb61a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.container .kat-icon img {
	height: 30px;
}
.bl-box h5 {
	font-size: 1.2em;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

.container { height: 100%;  }

.bl-main {
	position: absolute;
	width: 70%;
	height: calc(100% - 60px);
	overflow: hidden;
	margin: 30px 0;
	transform: translateX(-50%);
	left: 50%;
	transition: all 1s ease;
}

.bl-main > section {
	position: absolute;
	width: 33.33%;
	height: 33.33%;
}
.bl-main > section:nth-child(odd) {
	background-color: #fff;
	/*background-color: rgba(255,255,255, 0.2);*/
}
/*.bl-main > section:nth-child(5) {
	background-color: rgba(255,255,255, 0.8);
}*/
.bl-main > section:nth-child(even) {
	background-color: #7f1313;
}
.bl-main > section:first-child {
	top: 0;
	left: 0;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 33.33%;
}

.bl-main > section:nth-child(3) {
	top: 0;
	left: 66.66%;
}

.bl-main > section:nth-child(4) {
	top: 33.33%;
	left: 0%;
}
.bl-main > section:nth-child(5) {
	top: 33.33%;
	left: 33.33%;
}
.bl-main > section:nth-child(6) {
	top: 33.33%;
	left: 66.66%;
}
.bl-main > section:nth-child(7) {
	top: 66.66%;
	left: 0%;
}
.bl-main > section:nth-child(8) {
	top: 66.66%;
	left: 33.33%;
}
.bl-main > section:nth-child(9) {
	top: 66.66%;
	left: 66.66%;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
}

.bl-box h2 {
	font-size: 2.5em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Allerta Stencil', sans-serif;
}
.bl-box h5 {
	font-size: 1.2em;
}
.bl-main > section .kat-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e005";
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

/* Custom content */


.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	padding: 0;
    margin: 0;
    list-style: square;
} 

.bl-content > ul li {
	display: list-item;
    list-style-position: inside;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	/*width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;*/
}

#kat-container .bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section .bl-expand {
	background: #7f1313;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.items + h5 {
	margin-top: 20px;
	border-top: 1px solid #fce3ad;
	padding-top: 20px;
}

.items .item {
	width: 25%;
	padding: 0 10px;
	margin-bottom: 15px; 
}
.items::after {
	content: '';
	flex: auto;
}
.item p {
	font-size: 15px;
	color: #fce3ad;
}

section.bl-expand .bl-box {
	opacity: 1;
	height: auto;
	padding: 10px 25px;
	align-items: flex-start;
}
section.bl-expand .bl-box h2 {
	font-size: 2em;
}

section.bl-expand .bl-box h5 {
	display: none;
}
section.bl-expand .bl-content h5 {
	margin-bottom: 10px;
	font-size: 18px;
}
.slimScrollDiv {
    margin: 10px 10px 50px 10px;
    opacity: 0;
}

.bl-content,
.kat-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .kat-close,
section.bl-expand .slimScrollDiv, section.bl-expand .slimScrollBar  {
	pointer-events: auto;
	opacity: 1 !important;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}
section.bl-expand .bl-content{
	top: 0;
    left: 0;
	right: auto; 
	bottom: auto; 
	padding: 20px 30px; 
    overflow: hidden;
    overflow-y: auto;
    width: 100% !important;
}
.slimScrollBar {
    border-radius: 0 !important;
    opacity: 0 !important;    
}
.container img {
	max-width: 100%;
	height: auto;
}
.bl-box > span {
	display: none;
}


	
@media screen and (max-width: 767px) { 
	.togglecontainer {
		display: none;
	}
	.bl-main > section {
		border:1px solid #fff;
	}
	.bl-main {
		margin: 0;
		width: 100%;
		height: calc( 100% - 200px);
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
	.bl-main > section:nth-child(odd) {
		background-color: #7f1313;
	}
	.bl-main > section:nth-child(5) {
		background-color: #fff;
	}
	.bl-box h2, .bl-box h5, section.bl-expand .bl-box span {
		display: none;
	}
	section.bl-expand .bl-box h2 {
		font-size: 1.5em;
	}
	.bl-box span {
		display: block;
		font-size: 2.5em;
		color: #ffb61a;
	}
	section.bl-expand .bl-box h2 {
		display: block;
	}
	.items .item {
		width: 50%;
	}
	.contact-container > div {
		width: 100%;
	}
	section.bl-expand .bl-content {
		padding: 20px 15px;
	}
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	.togglecontainer {
		display: none;
	}
.bl-main {
	width: 100%;
}
}